.model-list {
    background-color: #F8F8F8;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

.model-list-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 15px;
}

.model-list table {
    margin-left: 25px;
    margin-right: 25px;
}

.model-list table tr th {
    color: #ACACAC;
}