nav {
    background-color: #F2EAE1;
    color: black;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0.10;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
}

nav ul li img {
    width: auto;
    height: 25px;
    margin-right: 10px;
}