nav ul li {
    border: solid silver 1px;
    height: 100%;
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

nav ul li:hover {
    cursor: pointer;
    background-color: silver;
}

nav ul li img {
    width: 30px;
}